<header class="header">
  <div class="container header-container">
    <div class="header-right-side-wrapper">
      <button id="themeToggle" class="theme-toggle-button">
        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px"
        fill="#1f1f1f">
        <g>
          <path d="M0,0h24v24H0V0z" fill="none" />
        </g>
        <g>
          <path
            d="M12,4.81L12,19c-3.31,0-6-2.63-6-5.87c0-1.56,0.62-3.03,1.75-4.14L12,4.81 M6.35,7.56L6.35,7.56C4.9,8.99,4,10.96,4,13.13 C4,17.48,7.58,21,12,21c4.42,0,8-3.52,8-7.87c0-2.17-0.9-4.14-2.35-5.57l0,0L12,2L6.35,7.56z" />
        </g>
      </svg></button>
      <form class="header-form" id="weather-form">
        <label class="label-form">Введіть назву міста</label>
        <input
          class="header-form-input"
          type="text"
          name="city"
          placeholder="Місто"
        />
        <label class="label-form">Виберіть кількість днів</label>
          <select name="days" class="days-select header-form-input">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        <button class="header-form-btn" type="submit">Отримати</button>
      </form>
    </div>
  </div>
</header>
