<header class="header">
  <div class="container">
    <div class="header-right-side-wrapper">
      <button id="themeToggle" class="theme-toggle-button">
        <svg class="logo-icon" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px"
        fill="#1f1f1f">
        <g>
          <path d="M0,0h24v24H0V0z" fill="none" />
        </g>
        <g>
          <path
            d="M12,4.81L12,19c-3.31,0-6-2.63-6-5.87c0-1.56,0.62-3.03,1.75-4.14L12,4.81 M6.35,7.56L6.35,7.56C4.9,8.99,4,10.96,4,13.13 C4,17.48,7.58,21,12,21c4.42,0,8-3.52,8-7.87c0-2.17-0.9-4.14-2.35-5.57l0,0L12,2L6.35,7.56z" />
        </g>
      </svg></button>
      <div class="header-container">
        <div class="nav-box">
          <nav class="header-nav">
            <a href="/src/index.html" class="header-logo">
              <svg class="logo-icon" xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 0 24 24" width="48px">
                <path d="M0 0h24v24H0z" fill="none" />
                <path
                  d="M6.76 4.84l-1.8-1.79-1.41 1.41 1.79 1.79 1.42-1.41zM4 10.5H1v2h3v-2zm9-9.95h-2V3.5h2V.55zm7.45 3.91l-1.41-1.41-1.79 1.79 1.41 1.41 1.79-1.79zm-3.21 13.7l1.79 1.8 1.41-1.41-1.8-1.79-1.4 1.4zM20 10.5v2h3v-2h-3zm-8-5c-3.31 0-6 2.69-6 6s2.69 6 6 6 6-2.69 6-6-2.69-6-6-6zm-1 16.95h2V19.5h-2v2.95zm-7.45-3.91l1.41 1.41 1.79-1.8-1.41-1.41-1.79 1.8z" />
              </svg>
            </a>
          </nav>
        </div>
        <form class="header-form" id="weather-form">
          <div class="form-box">
            <label class="label-form">Введіть назву міста</label>
            <input
              class="header-form-input"
              type="text"
              name="city"
              placeholder="Місто"
            />
            <label class="label-form">Виберіть кількість днів</label>
              <select name="days" class="days-select header-form-input">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
          </div>
          <button class="header-form-btn" type="submit">Отримати</button>
        </form>
      </div>
    </div>
  </div>
</header>
