.header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #1773fd;
  background-color: #273da4;
  background-image: linear-gradient(270deg, #5398ff, #1773fd, #102ba2);
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.nav-box {
  display: flex;
  align-items: center;
}

.header-form {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 30px;
}

.form-box {
  display: flex;
  gap: 15px;
  align-items: center;
}

.label-form {
  font-size: 24px;
  font-weight: 500;
}

.header-form-input {
  font-size: 15px;
  font-weight: 500;
  min-width: 190px;
  height: 40px;
  padding-left: 5px;
  border-radius: 4px;
  border: 1px solid #ff6b0a;
  transition: all 250ms ease-in-out;
}

.header-form-input:hover,
.header-form-input:focus,
.header-form-btn:hover,
.header-form-btn:focus {
  outline: 2px solid #ff6b0a;
}

.header-form-btn {
  max-width: 190px;
  min-height: 40px;
  text-transform: uppercase;
  color: #273da4;
  border-radius: 4px;
  border: 1px solid #ff6b0a;
  font-size: 20px;
  font-weight: 500;
  background-color: rgb(245, 245, 245);
  transition: all 250ms ease-in-out;
}

body.theme-dark .header-form-btn {
  background: linear-gradient(45deg, #ff6b0a, #ff4500);
  color: white;
}

body.theme-light .header-form-btn {
  background: rgb(245, 245, 245);
  color: #333;
}

.header-form-btn:hover {
  transform: scale(1.1);
}

.header-nav {
  display: flex;
}

.header-logo {
  padding: 12px;
}

.logo-icon {
  transition: fill 250ms ease-in-out;
}

body.theme-light .logo-icon {
  fill: black;
}

body.theme-dark .logo-icon {
  fill: white;
}